.lampada {

    display: flex;
    flex-direction: column;
    align-items: center;
}

.btns {

    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    
    transition: color 1.5s ease-in-out, transform 1.5s ease-in-out, backgroud-color 1.5s ease-in-out;
    width: 150px;
    height: 30px;
    margin: 10px;
    border-color: #2aafc1;
    color: #2aafc1;
    transform: scale(1.1);
    background-color: black;
}
